.comun
{
	background-color: #F5DA81;
}
.my_name
{
    text-align: center;
    margin-top: 100px;
    font-size: 200px;
    color: #190707;
}
.button_register
{
    text-align: center;


}
.button_register a
{
    color: #FF0000;
    font-size: 20px;
}
